<div id='content-header'>
  <h1>New Recruit Plan</h1>
</div>

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span7'>
      <h4>
        Background
      </h4>
      <h4>
        Strategy
      </h4>
      <h4>
        Process
      </h4>
      <ol>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
      </ol>
    </div>

    <div class='span4'>
      <div class='widget-box'>
        <div class='widget-title'>
          <span class='icon'>
            <i class='icon-comment'></i>
          </span>
          <h5>Events <span class='label label-info '>430</span></h5>
        </div>
        <div class='widget-content nopadding'>
          <ul class='recent-comments'>
            <li>
              <div class='user-thumb'>
                <img width='40' height='40' src="img/profile_1.jpeg">
              </div>
              <span class='user-info'><a href="#">@samuelpieto</a> 1 month ago on <a href="">Twitter</a></span>
              <p>An everyday single mum of 3 who has just joined the Australian Army. Nothing like change to keep life interesting <a href="">@petabrowne</a> <b>#amazing</b> mum</p>
            </li>
            <li class="viewall">
                <a title="" class="tip-top" href="#" data-original-title="View all comments"> + View all + </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>