<!doctype html>
<html lang="en" ng-app="Stacato">
<head>
  <meta charset="utf-8">
  <title>Social Risk Manager</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/unicorn.main.css">
  <link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color">
</head>
<body>
  <!-- <div ng-view></div> -->

  <div id='header'><p>Social Risk Manager</p></div>

  <div id='sidebar' ng-controller='CategoryListCtrl'>
    <header>
      <h3>
        Categories
      </h3>
    </header>
    <div id='search'>
      <input type='text' ng-model='query' placeholder='Search categories...'>
      <button type="submit" class="tip-right" title="" data-original-title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <ul>
      <li ng-repeat='category in categories | filter:query' class='submenu'>
        <a href=""><span>
          {{category.name}}
          <span class='sidebar_label'>
            {{category.event_count}}
          </span>
        </span></a>
      </li>
    </ul>
  </div>

  <div id='content'>
    <div ng-view></div> 

    <div id='content-header'>
      <h1>New Recruit</h1>
    </div>

    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span7'>
          <markdown src='data/markdown/test.md'>
### Category Summary

Mentions referring to Defence as an employer.

### Strategy

Understanding the drivers and influencing factors behind recruits considering the Defence Force as a career option gives drives key insights into our [recruitment division](www.linktodiv.com).

### Opportunities

* Insights into recruit drivers.
* Ability to brief recruitment team on current perception issues.

### Risks

* Negative perceptions.

### Case Studies

* [US protest](www.link.com)
* [UK conversation](www.link.com) between Afghan troops and school children.
* [Wikileaks comment](www.link.com)

### Process

1. **Negative comment from existing staff:** Find staff's direct contact. Report incident to divisional head.
2. **Neutral discussion on Defence life:** If comments are in open forum share/Retweet.
4. **Negative comment from existing staff:** Find staff's direct contact. Report incident to divisional head.
5. **Neutral discussion on Defence life:** If comments are in open forum share/Retweet.
          </markdown>
        </div>

        <div class='span4' ng-controller="EventListCtrl">
          <div class='widget-box'>
            <div class='widget-title'>
              <span class='icon'>
                <i class='icon-comment'></i>
              </span>
              <h5>Events <span class='label label-info '>430</span></h5>
            </div>
            <div class='widget-content nopadding'>
              <ul class='recent-comments'>
                <li ng-repeat="event in events">
                  <div class='user-thumb'>
                    <img width='40' height='40' ng-src="{{event.image}}">
                  </div>
                  <span class='user-info'><a href="#">{{event.user}}</a> {{event.date}} <a href="">{{event.source}}</a></span>
                    {{event.content}}
                </li>
                <li class="viewall">
                    <a title="" class="tip-top" href="#" data-original-title="View all comments"> + View all + </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="js/showdown.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
